<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleindex.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteli u Hrvatskoj</title>
    <meta name="description" content="Podaci o nekim hotelima u Hrvatskoj.">
    <meta name="author" content="Nino Salai">
</head>
<body>
    <div id="glavni">
        <div id="readme">
            <h1>Hoteli u Hrvatskoj</h1>
           <li>licencija: Creative Commons Zero (CC0 1.0 Universal)</li>
           <li>autor: Nino Salai</li>
           <li>verzija: 2.0</li>
           <li>podaci o hotelima su na hrvatskom jeziku</li>
           <li>Atributi: 
            <ol>
                <li>Naziv hotela</li>
                <li>Ulica hotela</li>
                <li>Kucni broj</li>
                <li>Postanski broj</li>
                <li>Grad</li>
                <li>Drzava</li>
                <li>Soba - veza roditelj-dijete, svaka soba ima određen broj osoba (jedna ili dvije osobe) te cijenu u €</li>
                <li>Broj zvjezdica</li>
                <li>Telefon</li>
                <li>Email</li>
            </ol>
           </li>
           <li>podaci o hotelima su u obliku CSV i JSON</li>
           <li>u skupu su podaci o 10 hotela</li>
           <li>uzeti su podaci nekih nasumično odabranih hotela iz Zagreba, Osijeka, Splita i Vodica</li>
           <li>izvor: web stranice hotela</li>
           <li>repozitorij je kreiran za potrebe laboratorijskih vježbi u okviru predmeta Otvoreno Računarstvo</li>
        </div>
        <div id="desni">
        <div id="veliki">
            <div id="tekst">Preuzmi podatke u željenom obliku:</div>
            <div id="filec"><a href="hoteli.csv" download="hoteli.csv">Hoteli.csv</a></div>
            <div id="filej"><a href="hoteli.json" download="hoteli.json">Hoteli.json</a></div>
        </div>
        <div id="pogledaj">
            <button id="gumb"> <a href="datatable" id="gumblink">POGLEDAJ TABLICU</a></button>
        </div>
    </div>
    </div>

</body>
</html>